body {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Tajawal', sans-serif;
}

:root {
  --brand-color-darkest: #551115;
  --brand-color-darker: #871c21;
  --brand-color-dark: #aa0e13;
  --brand-color-slightly-dark: #d01117;
  --brand-color: #ed1c24;
  --brand-color-light: #f2696d;
  --brand-color-lighter: #fcd9da;
  --black: #140000;
  --white: #fdfdff;
}

body {
  background-color: var(--brand-color-darker);
  color: var(--white);
}
